nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  if currentUser
    a.navbar-brand(href='/') Welcome
  else 
    a.navbar-brand(href='/') CreateBlog 
  button.navbar-toggler(type='button', data-toggle='collapse', 
         data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent',
         aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mx-auto.d-flex.justify-content-center
      if index 
        li(class=`nav-item active`)
          a.nav-link(href='/')
            | Home 
            span.sr-only (current)
      else      
        li(class=`nav-item`)
          a.nav-link(href='/')
            | Home 
            span.sr-only (current)

      if create 
        li(class=`nav-item active`)
          a.nav-link(href='/create')
            | Create Blog 
            span.sr-only (current)
      else      
        li(class=`nav-item`)
          a.nav-link(href='/create')
            | Create Blog 
            span.sr-only (current)

      if profile 
        li(class=`nav-item active`)
          a.nav-link(href='/profile')
            | Profile 
            span.sr-only (current)
      else      
        li(class=`nav-item`)
          a.nav-link(href='/profile')
            | Profile 
            span.sr-only (current)            

    if !currentUser
      form(action='/login', method='post').form-inline.my-2.my-lg-0
        .form-group
          input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter email' name='email')
        .form-group.mx-1
          input#exampleInputPassword1.form-control(type='password', placeholder='Password' name='password')
        button.btn.btn-primary.mr-2(type='submit') Login
    else 
      form(action='/logout', method='post').form-inline.my-2.my-lg-0
        button.btn.btn-primary.mr-2(type='submit') LogOut
