extends layout.pug

block content
  //- if titleWarning
  //-   .alert.alert-warning.alert-dismissible.fade.show(role='alert')
  //-     button.close(type='button', data-dismiss='alert', aria-label='Close')
  //-       span(aria-hidden='true') ×
  //-     strong your title is too short or too long

  //- if blogWarning
  //- .alert.alert-warning.alert-dismissible.fade.show(role='alert')
  //-   button.close(type='button', data-dismiss='alert', aria-label='Close')
  //-     span(aria-hidden='true') ×
  //-   strong blog is too short. please enter more that 10 characters
  

  h2.text-center.mt-5 Create blog
  .container
    form(action='/create' method='POST')
      .form-group
        label(for='title') Title
        input#title.form-control(type='text', aria-describedby='emailHelp', placeholder='Enter title' name='title')
      .form-group
        label(for='exampleFormControlTextarea1') Blog
        textarea#exampleFormControlTextarea1.form-control(rows='3' name='blog')

      button.btn.btn-primary(type='submit') Submit
