extends layout

block content
  .jumbotron.mb-0
    h1.display-3.text-center CreateBlog
    p.lead.text-center
      | Read some amazing blogs here. if you want, you can also create one and blog it here.
    if !currentUser  
      h4.text-center.mt-4
        a(href="/profile") register now...

  if message 
    .alert.alert-primary.text-center(role='alert')=message
  else    
    .container.mt-5
      .row
        each val, index in blogs
          .col-md-4
            h2=val.title
            p=val.date.toUTCString()
            p=val.blog


  if success 
    .alert.alert-warning.alert-dismissible.fade.show(role='alert')
    button.close(type='button', data-dismiss='alert', aria-label='Close')
      span(aria-hidden='true') ×
    strong Success
    |  You have Created a Blog

    
