extends layout.pug


block content
  .jumbotron.mb-0

    if currentUser
      .container
        h1 Hello! #{user.name}
        h2=user.email
    else
      .container.w-50
        form(action='/profile', method='POST')
          legend.text-center Register
          .form-group
            label(for='name') Name:
            input#name.form-control(type='text', placeholder='Full Name' name='name')
          .form-group
          .form-group
            label(for='email') Email address
            input#email.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter email' name="email")
          .form-group
            label(for='password') Password
            input#password.form-control(type='password', placeholder='Password', name="password")
          .form-check
          .form-group
            label(for='confirmPassword') Confirm Password
            input#confirmPassword.form-control(type='password', placeholder='Password' name='confirmPassword')
          .form-check        
          button.btn.btn-primary(type='submit') Submit